* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1a1a33;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px;
    position: relative;
    z-index: 4;

}

.logo {
    width: 90px;
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgba(0, 247, 245, 0.5));

}
    

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li a {
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    text-shadow: 0 0 20px rgba(0, 247, 245, 0.5);
    padding: 20px;
    cursor: pointer;
}

nav ul li a:hover {
    color: #00f7f5;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;

}

#carouselExampleIndicators {
    width: 100%;
    height: 100%; 
    position: absolute;
}

.img-carousel {
    width: 100%;
    height: 700px;
}

#informacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:unset;
}

.informacao-1 {
    text-align: center;
    box-shadow: 0 0 20px #00f7f5;
    border-radius: 20px;
    margin: 20px;
    padding: 80px;
    background-color: #6387A6;
    color: #192340;
    animation: pulse 15s infinite;
}

.informacao-1 h2 {
    font-family: fantasy;
    font-size: 30px;
    text-shadow: 0 0 20px #00f7f5;
}

.informacao-1 p {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 20px #00f7f5;
}


.beneficios-lista {
    text-align: center;
    box-shadow: 0 0 20px #00f7f5;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    background-color: #6387A6;
    color: #192340;
    animation: pulse 15s infinite;
}

.beneficios-lista h3 {
    font-family: fantasy;
    font-size: 30px;
    text-shadow: 0 0 20px #00f7f5;
}

.beneficios-lista p {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 20px #00f7f5;
}

@keyframes pulse {
    0% {
        transform:scale(0.5);
    }
    100% {
        transform:scale(0.8);
    }
}

.cards-cursos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 80px 0;
    color: #192340;
}


#container-cursos h2 {
    font-family: fantasy;
    font-size: 60px;
    text-shadow: 0 0 20px #00f7f5;
    text-align: center;
}


